# use glob syntax.
syntax: glob
*~
.DS_Store
\#*
.\#*
/.autosaves*
*.elc
/.recentf
elispcache/*
.emacs.d/var/pcache/*
.emacs.d/eproject.lst
.emacs.d/url
.emacs.d/tramp
.emacs.d/kill-ring-saved.el
.emacs.d/eshell/lastdir
*/CVS/*
CVS
.svn
.bzr
.git
.emacs.d/history
.emacs.d/el-get/*/.git
.emacs.d/el-get/.loaddefs.el*
.emacs.d/el-get/.status.el*
.emacs.d/thumbs
.org-id-locations
org-clock-save.el
ac-comphist.dat
.emacs.d/nxhtml/etc/schema/xhtml-loader.rnc
.emacs.d/jabber/elc-temp
.yaoddmuse
.emacs.d/yatex1.74.4/lp.el
.emacs.d/emacs-w3m/autom4te.cache/
.emacs.d/php-doc
.emacs.d/cedet-1.0/cogre/cogre-loaddefs.el
.emacs.d/cedet-1.0/common/cedet-loaddefs.el
.emacs.d/cedet-1.0/contrib/contrib-loaddefs.el
.emacs.d/cedet-1.0/ede/ede-loaddefs.el
.emacs.d/cedet-1.0/eieio/eieio-loaddefs.el
.emacs.d/cedet-1.0/semantic/semantic-loaddefs.el
.emacs.d/cedet-1.0/speedbar/speedbar-loaddefs.el
.emacs.d/cedet-1.0/srecode/srecode-loaddefs.el
.emacs.d/color-theme/color-theme-autoloads.el
.emacs.d/emacs-w3m/config.log
.emacs.d/emacs-w3m/doc/emacs-w3m-ja.info
.emacs.d/emacs-w3m/w3m-load.el
.emacs.d/el-get/wanderlust/wl/wl-news.el
.emacs.d/wg
